extends ../publictemplate/common
block admin
 .mws-panel.grid_8
  .mws-panel-header
    span 食品添加
  .mws-panel-body.no-padding
    form.mws-form(action='/admingoodsdoadd' method="POST" enctype="multipart/form-data")
      .mws-form-inline
        .mws-form-row
          label.mws-form-label 食品名称
          .mws-form-item
            input.large(type='text' name="foodname")
        .mws-form-row
          label.mws-form-label 食品图片
          .mws-form-item
            input.large(type='file' name="foodpic")
        .mws-form-row
          label.mws-form-label 描述语
          .mws-form-item
            input.large(type='text' name="descr")
        .mws-form-row
          label.mws-form-label 单价
          .mws-form-item
            input.large(type='text' name="price")
        .mws-form-row
          label.mws-form-label 所属商家
          .mws-form-item
            select.large(name="shoplist_id")
              option(value="") --请选择-- 
               -for(let i=0;i<datas.length;i++)
                option(value=`${datas[i].id}`)=datas[i].shopname
              
      .mws-button-row
        input.btn.btn-danger(type='submit' value='添加')
        input.btn(type='reset' value='重置')
